In [80]:
import pandas as pd

# Path of the file to read
df = pd.read_csv('dados.csv')


# drop coluns
df.drop(['Series Code', 'Series Name', 'Country Code'], axis=1, inplace=True)

In [81]:
df.dtypes

Country Name     object
1990 [YR1990]    object
2000 [YR2000]    object
2011 [YR2011]    object
2012 [YR2012]    object
2013 [YR2013]    object
2014 [YR2014]    object
2015 [YR2015]    object
2016 [YR2016]    object
2017 [YR2017]    object
2018 [YR2018]    object
2019 [YR2019]    object
2020 [YR2020]    object
dtype: object

In [82]:
df.set_index('Country Name', inplace=True)
df = df.T
df.head()

Country Name,Arab World,Caribbean small states,Central Europe and the Baltics,Early-demographic dividend,East Asia & Pacific,East Asia & Pacific (excluding high income),East Asia & Pacific (IDA & IBRD),Euro area,Europe & Central Asia,Europe & Central Asia (excluding high income),...,Virgin Islands (U.S.),West Bank and Gaza,"Yemen, Rep.",Zambia,Zimbabwe,NaN,NaN,NaN,NaN,NaN
1990 [YR1990],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2000 [YR2000],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2011 [YR2011],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2012 [YR2012],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2013 [YR2013],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN

In [83]:
df.loc['2019 [YR2019]']["World"]

'27.6'

In [87]:
# ['Germany', 'Austria', 'Belgium', 'Bulgaria', 'Czech Republic', 'Cyprus', 'Croatia', 'Denmark', 'Slovakia', 'Slovenia', 'Spain', 'Estonia', 'Finland', 'France', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Letonia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Polonia', 'Portugal', 'Romenia', 'Sweden']

df.loc['2019 [YR2019]']["Germany"]
print(
    f'''
    Germany: {df.loc['2019 [YR2019]']["Germany"]}
    Austria: {df.loc['2019 [YR2019]']["Austria"]}
    Belgium: {df.loc['2019 [YR2019]']["Belgium"]}
    Bulgaria: {df.loc['2019 [YR2019]']["Bulgaria"]}
    Czech Republic: {df.loc['2019 [YR2019]']["Czech Republic"]}
    Cyprus: {df.loc['2019 [YR2019]']["Cyprus"]}
    Croatia: {df.loc['2019 [YR2019]']["Croatia"]}
    Denmark: {df.loc['2019 [YR2019]']["Denmark"]}
    Slovak Republic: {df.loc['2019 [YR2019]']["Slovak Republic"]}
    Slovenia: {df.loc['2019 [YR2019]']["Slovenia"]}
    Spain: {df.loc['2019 [YR2019]']["Spain"]}
    Estonia: {df.loc['2019 [YR2019]']["Estonia"]}
    Finland: {df.loc['2019 [YR2019]']["Finland"]}
    France: {df.loc['2019 [YR2019]']["France"]}
    Greece: {df.loc['2019 [YR2019]']["Greece"]}
    Hungary: {df.loc['2019 [YR2019]']["Hungary"]}
    Ireland: {df.loc['2019 [YR2019]']["Ireland"]}
    Italy: {df.loc['2019 [YR2019]']["Italy"]}
    Latvia: {df.loc['2019 [YR2019]']["Latvia"]}
    Lithuania: {df.loc['2019 [YR2019]']["Lithuania"]}
    Luxembourg: {df.loc['2019 [YR2019]']["Luxembourg"]}
    Malta: {df.loc['2019 [YR2019]']["Malta"]}
    Netherlands: {df.loc['2019 [YR2019]']["Netherlands"]}
    Poland: {df.loc['2019 [YR2019]']["Poland"]}
    Portugal: {df.loc['2019 [YR2019]']["Portugal"]}
    Romania: {df.loc['2019 [YR2019]']["Romania"]}
    Sweden: {df.loc['2019 [YR2019]']["Sweden"]}
    '''
)

    Germany: 3.4
    Austria: 3
    Belgium: 3.7
    Bulgaria: 13.2
    Czech Republic: 4.2
    Cyprus: ..
    Croatia: 11
    Denmark: 5
    Slovak Republic: 6
    Slovenia: 8.2
    Spain: 8.8
    Estonia: 7.9
    Finland: 8
    France: 5.8
    Greece: 8.6
    Hungary: 8.6
    Ireland: 8.3
    Italy: 6.7
    Latvia: 10.2
    Lithuania: 11.3
    Luxembourg: 3.1
    Malta: 4.3
    Netherlands: 4.7
    Poland: 5.8
    Portugal: 11.5
    Romania: 13.9
    Sweden: 5.3

In [ ]:
print(
    f'''
    Brasil: {df.loc['2019 [YR2019]']["Germany"]}
    Austria: {df.loc['2019 [YR2019]']["Austria"]}
    Belgium: {df.loc['2019 [YR2019]']["Belgium"]}
    Bulgaria: {df.loc['2019 [YR2019]']["Bulgaria"]}
    Czech Republic: {df.loc['2019 [YR2019]']["Czech Republic"]}
    '''
)